:root {
    --padding: 3rem;
    --branco: #ffffff;
    --primary-color: #151515;
    --verde: rgb(0, 132, 0);
    --vermelho: rgb(220, 20, 60);
    --orange: rgb(255, 166, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* font-family: 'Roboto Mono',
monospace;
font-family: 'Source Sans Pro',
sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa', sans-serif;

}

a,
label,
input,
p {
    font-family: 'Roboto Mono',
        monospace;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

@keyframes link-animation {

    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(110%);
    }

    0% {
        transform: scale(100%);
    }

}

.section {
    min-height: 100vh;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-main {
    background-image: url(/assets/img/bg-main.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--branco);
}

.table {
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.table h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.table form {
    display: flex;
    flex-flow: column;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 4px var(--branco);
}

.table input {
    padding: 1rem 2rem;
    margin-bottom: 8rem;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 1rem;
    color: var(--branco);
    font-size: 2rem;
    caret-color: var(--branco);
}

.table label {
    font-size: 2rem;
    margin-bottom: 2rem;
}


.table a {

    padding: 1rem;
    text-align: center;
    color: var(--branco);
    text-decoration: none;
    font-size: 2rem;
    box-shadow: 0 0 10px var(--branco);
    border-radius: 1rem;
    animation: link-animation 1s alternate-reverse infinite;
}

.table a:hover {
    transition: all 300ms ease-in-out;
    transform: scale(105%);
    background-color: var(--branco);
    color: var(--primary-color);
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: var(--padding);
    width: 80vw;
    min-height: 80vh;
}

.team {
    width: 80vw;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    margin-right: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    backdrop-filter: blur(0.5rem);
}

.team h1 {
    font-size: 2rem;
    text-align: center;

    width: 40%;
    margin: 0 auto;
}

.team input,
.team button {
    color: var(--branco);
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

#team1-play,
#team2-play {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: bold;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--branco);
}

#score1,
#score2 {
    padding: 1rem;
    outline: none;
    color: var(--branco);
    border-bottom: none;
    border-top: none;
    border-left: 3px solid var(--branco);
    border-right: 3px solid var(--branco);
    border-radius: 3rem;
    width: 40%;
    font-size: 6rem;

}


.team input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--branco);
}

.btns {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.btns button {
    width: 8rem;
    font-size: 1.8rem;
    background-color: var(--branco);
    margin-top: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
}

.btns button:nth-child(1),
.btns button:nth-child(2) {
    background-color: var(--branco);
}


.btns button:nth-child(3),
.btns button:nth-child(5) {
    background-color: rgb(0, 255, 47);
    /* border-color: var(--branco); */

}

.btns button:nth-child(6) {
    background-color: var(--orange);
    border-color: var(--branco);
}

.btns button:hover {
    transition: all 300ms ease-in-out;
    transform: scale(115%);
}


@media (max-width: 800px) {


    .score,
    .section {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .team {
        padding: 0;
        margin-bottom: 1rem;
    }

    .team input {
        padding: 0;
    }

    .btns {
        flex-flow: row nowrap;
        padding: 0;
        max-width: 80%;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .btns button {
        margin: 0 auto;

        /* padding: 0.9rem; */
        /* font-size: 1.2rem; */


    }

    #team1-play,
    #team2-play {
        margin-bottom: 2rem;
    }

}