:root {
    --padding: 3rem;
    --branco: #ffffff;
    --primary-color: #151515;
    --verde: rgb(0, 132, 0);
    --vermelho: rgb(220, 20, 60);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* font-family: 'Roboto Mono',
monospace;
font-family: 'Source Sans Pro',
sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa', sans-serif;

}

a,
label,
input,
p {
    font-family: 'Roboto Mono',
        monospace;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

@keyframes link-animation {

    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(110%);
    }

    0% {
        transform: scale(100%);
    }

}

.section {
    min-height: 100vh;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-main {
    background-image: url(/assets/img/bg-main.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--branco);
}

.table {
    max-width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.table h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.table form {
    display: flex;
    flex-flow: column;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 4px var(--branco);
}

.table input {
    padding: 1rem 2rem;
    margin-bottom: 8rem;
    outline: none;
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid var(--branco); */
    box-shadow: 0 0 5px var(--branco);
    border-radius: 1rem;
    color: var(--branco);
    font-size: 2rem;
    caret-color: var(--branco);
}

.table label {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.table input:focus {
    transition: all 300ms ease-in-out;
    box-shadow: 0 0 10px 5px var(--vermelho);
    border-bottom: none;
}

.table a {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    color: var(--branco);
    text-decoration: none;
    font-size: 2rem;
    box-shadow: 0 0 10px var(--branco);
    border-radius: 1rem;
    animation: link-animation 1s alternate-reverse infinite;
}

.table a:hover {
    transition: all 300ms ease-in-out;
    transform: scale(105%);
    background-color: var(--branco);
    color: var(--primary-color);
}